#  **Ecommerce Purchase Dataset Analysis**
   Introduction to E-commerce Data Analysis

In today's digital age, e-commerce has revolutionized the way businesses operate and how consumers interact with products and services. Understanding customer behavior, transaction patterns, and market trends is crucial for businesses to optimize their strategies and enhance customer satisfaction. This project focuses on analyzing an e-commerce dataset to extract valuable insights that can inform business decisions and improve overall performance. Dataset taken from the kaggle link:(https://https://www.kaggle.com/datasets/utkarsharya/ecommerce-purchases)

#**Step 1: Load and Inspect the Data**

In [3]:
# import Python Libraries
import pandas as pd
import numpy as np
# Load the Dataset
df=pd.read_csv('Ecommerce Purchases')
# Inspect first 10 rows of the Dataset
df.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [4]:
# Inspect Last 10 rows of the Data set
df.tail(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [5]:
# Get the Information about the Dataset including columns and rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
# Check For Missing Values
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

# **Step 2: Data Cleaning**

In [7]:
# Ensure correct Data types
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [10]:
# Fill missing values or drop rows/columns with missing values
df = df.dropna()  # This is a simple approach; more sophisticated methods can be used

# **Step 3: Descriptive Statistics**

In [11]:
# Summary statistics
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

### **`Total and average sales`**

In [16]:
# Total  sales
total_sales=df['Purchase Price'].sum()
total_sales

503473.02

In [17]:
# average sales
average_sales=df['Purchase Price'].mean()
average_sales

50.347302

In [18]:
print('Total Sales:', total_sales)
print('Average Sales:', average_sales)

Total Sales: 503473.02
Average Sales: 50.347302

# **Step 4: Customer Analysis**

### **1.Unique customers**

In [19]:
# Unique Customers Emails
unique_customers=df['Email'].nunique()
unique_customers

9954

In [20]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

### **2. Customer Demographics and Behavior Analysis**

In [24]:
# Common languages spoken by customers
common_languages =df['Language'].value_counts()
print('Common Langauges:\n',common_languages)

Common Langauges:
 Language
de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: count, dtype: int64

In [39]:
# Least languages spoken by min customers
least_languages=df['Language'].value_counts().tail(2)
print('Least Langauges:\n',least_languages)

Least Langauges:
 Language
it    1086
zh    1059
Name: count, dtype: int64

In [25]:
# Common job titles among customers
common_job_titles=df['Job'].value_counts()
print('Common Job Titles:\n',common_job_titles)

Common Job Titles:
 Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: count, Length: 623, dtype: int64

In [40]:
#Job Title Contains Engineer
df['Job'].str.contains('engineer',case=False).sum()

984

In [135]:
# Geographic locations with highest concentration of customers
geographic_locations=df['Address'].value_counts()
print('Geographic Locations:\n',geographic_locations)

Geographic Locations:
 Address
16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478    1
3680 Collins Circles\nSouth Ivan, OH 75006-6131           1
PSC 6124, Box 2041\nAPO AP 04262-3351                     1
085 Harris Drive Suite 055\nSouth Kyle, KS 12208          1
55686 Gonzales Crossroad\nEast Davidtown, WA 88408        1
                                                         ..
60514 Travis Extension\nLake Natalie, FL 12091            1
16017 Reynolds Spurs\nJuliefort, WI 47836                 1
4331 Baldwin Vista Apt. 360\nClarkshire, NV 77543-3455    1
27584 Sarah Glen Apt. 784\nPort Laurenville, TN 53892     1
40674 Barrett Stravenue\nGrimesville, WI 79682            1
Name: count, Length: 10000, dtype: int64

Address
16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478    1
3680 Collins Circles\nSouth Ivan, OH 75006-6131           1
PSC 6124, Box 2041\nAPO AP 04262-3351                     1
085 Harris Drive Suite 055\nSouth Kyle, KS 12208          1
55686 Gonzales Crossroad\nEast Davidtown, WA 88408        1
Name: count, dtype: int64

# **Step 4: Transaction Analysis**

In [55]:
# Number of Customers who have American Express Credit card and Purchased less than 90

len(df[(df['CC Provider']== 'American Express') & (df['Purchase Price'] < 90)])

763

In [60]:
#Find credit card number of this email Id mary85@hotmail.com
df[df['Email']=='mary85@hotmail.com']['Credit Card']

9996    210033169205009
Name: Credit Card, dtype: int64

In [61]:
# How Many people Purchasing at AM and How many at PM

df['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [62]:
am_pm_price_trends = df.groupby('AM or PM')['Purchase Price'].mean()
print("AM/PM Price Trends:\n", am_pm_price_trends)

AM/PM Price Trends:
 AM or PM
AM    50.186511
PM    50.503779
Name: Purchase Price, dtype: float64

In [64]:
# Average purchase price per transaction
average_purchase_price = df['Purchase Price'].mean()
print("Average Purchase Price:\n", average_purchase_price)

Average Purchase Price:
 50.347302

# **Step 5: Payment Methods Analysis**

In [67]:
# Commonly used credit card providers
df['CC Provider'].value_counts()

CC Provider
JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: count, dtype: int64

In [70]:
# Patterns in credit card usage based on purchase price
cc_price_trends = df.groupby('CC Provider')['Purchase Price'].mean()
print("Credit Card Price Trends:\n", cc_price_trends)

Credit Card Price Trends:
 CC Provider
American Express               50.489423
Diners Club / Carte Blanche    48.733233
Discover                       51.662338
JCB 15 digit                   51.125115
JCB 16 digit                   49.299143
Maestro                        50.379173
Mastercard                     50.043015
VISA 13 digit                  51.449858
VISA 16 digit                  49.871055
Voyager                        51.973185
Name: Purchase Price, dtype: float64

In [74]:
df[(df['CC Provider']=='American Express')]['Purchase Price'].mean()

50.489422850412254

In [75]:
# Distribution of credit card expiration dates
cc_exp_date_distribution = df['CC Exp Date'].value_counts()
print("Credit Card Expiration Date Distribution:\n", cc_exp_date_distribution)

Credit Card Expiration Date Distribution:
 CC Exp Date
08/22    108
01/26    105
04/19    105
01/21    104
01/19    103
        ...
12/22     67
11/25     67
10/25     64
08/26     48
08/16     39
Name: count, Length: 121, dtype: int64

In [91]:
# Find number of expired Credit card
# Convert the 'CC Exp Date' column to a datetime format
# Assuming the 'CC Exp Date' is in the format 'MM/YY'
df['CC Exp Date'] = pd.to_datetime(df['CC Exp Date'], format='%m/%y')

# Filter out credit cards expired before 2024
expired_credit_cards = df[df['CC Exp Date'] < pd.to_datetime('2024-01-01')]

# Count the number of expired credit cards
num_expired_credit_cards = len(expired_credit_cards)

print("Number of expired credit cards before 2024:", num_expired_credit_cards)

Number of expired credit cards before 2024: 7321

# **Step 6: Security and Fraud Prevention**

In [92]:
# # Patterns in IP addresses used for transactions
ip_address_distribution = df['IP Address'].value_counts()
print("IP Address Distribution:\n", ip_address_distribution)

IP Address Distribution:
 IP Address
149.146.147.205    1
240.90.167.52      1
75.221.58.16       1
242.70.5.214       1
56.41.154.167      1
                  ..
25.239.139.93      1
60.124.141.174     1
164.212.156.218    1
253.48.203.172     1
176.119.198.199    1
Name: count, Length: 10000, dtype: int64

In [93]:
# Transactions from the same IP address
frequent_ips = df['IP Address'].value_counts().loc[lambda x: x > 1]
print("Frequent IPs:\n", frequent_ips)

Frequent IPs:
 Series([], Name: count, dtype: int64)

# **Step 7: Company-Specific Insights**

In [97]:
# Companies generating the most revenue
revenue_by_company = df.groupby('Company')['Purchase Price'].sum().sort_values(ascending=False)
print("Revenue by Company:\n", revenue_by_company)

Revenue by Company:
 Company
Brown Ltd                796.38
Williams LLC             723.63
Smith LLC                637.92
Smith PLC                601.37
Johnson Ltd              600.61
                          ...
Washington-Johnson         0.03
Armstrong PLC              0.02
Sanchez-Stephenson         0.01
Lyons, Diaz and Clark      0.00
Flynn and Sons             0.00
Name: Purchase Price, Length: 8653, dtype: float64

In [102]:
# Job titles corresponding to higher purchase prices
job_price_trends = df.groupby('Job')['Purchase Price'].mean().sort_values(ascending=False)
print("Job Price Trends:\n", job_price_trends.head(5))

Job Price Trends:
 Job
Trade mark attorney                 73.802727
Translator                          70.777647
Investment analyst                  69.090000
Accountant, chartered management    69.082667
Designer, industrial/product        68.714667
Name: Purchase Price, dtype: float64

# **Step 8: Customer Contact and Follow-Up**

In [116]:
# Most common email domains
email_domains = df['Email'].apply(lambda x: x.split('@')[-1]).value_counts()
print("Email Domains:\n", email_domains)
#Store email_domains value in new column temp
df['temp']=df['Email'].apply(lambda x: x.split('@')[-1])
df.head(1)

Email Domains:
 Email
hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: count, Length: 3416, dtype: int64

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,temp
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,2020-02-01,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com

In [117]:
# High-value customers based on purchase history
high_value_customers = df.groupby('Email')['Purchase Price'].sum().sort_values(ascending=False).head(10)
print("High-Value Customers:\n", high_value_customers)

High-Value Customers:
 Email
brownsarah@gmail.com       198.83
wjohnson@yahoo.com         175.61
cgray@gmail.com            154.41
lawrenceemily@yahoo.com    154.31
wilsonjohn@yahoo.com       153.36
znguyen@gmail.com          144.73
leekathy@yahoo.com         143.20
edwardsjohn@gmail.com      142.60
vrodriguez@hotmail.com     142.01
ozimmerman@yahoo.com       140.65
Name: Purchase Price, dtype: float64

# **Step 9: Geographical Analysis**

### **1.Browser and Device Analysis**

In [124]:
# Most commonly used browsers
common_browsers = df['Browser Info'].value_counts()
print("Common Browsers:\n", common_browsers)

Common Browsers:
 Browser Info
Mozilla/5.0 (compatible; MSIE 9.0; Windows CE; Trident/4.1)                                              12
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.2; Trident/3.1)                                          12
Mozilla/5.0 (compatible; MSIE 5.0; Windows NT 6.0; Trident/3.0)                                          12
Mozilla/5.0 (compatible; MSIE 9.0; Windows 95; Trident/4.1)                                              12
Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 5.01; Trident/5.0)                                         11
                                                                                                         ..
Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_8; rv:1.9.2.20) Gecko/2011-03-12 21:41:52 Firefox/3.8        1
Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_3; rv:1.9.5.20) Gecko/2015-11-16 20:25:11 Firefox/3.8           1
Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_0; rv:1.9.3.20) Gecko/2014-06-23 08:23:10 Firefox/5.0      1
Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7; rv:1.9.2.20) Gecko/2010-05-28 03:11:20 Firefox/3.6.18     1
Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gecko/2013-11-22 09:05:00 Firefox/3.6.11                       1
Name: count, Length: 8287, dtype: int64

8287

In [131]:
# Purchase behavior based on browser information
browser_price_trends = df.groupby('Browser Info')['Purchase Price'].mean().sort_values(ascending=False)
print("Browser Price Trends:\n", browser_price_trends.head(5))

Browser Price Trends:
 Browser Info
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4) AppleWebKit/5332 (KHTML, like Gecko) Chrome/15.0.808.0 Safari/5332     99.99
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5352 (KHTML, like Gecko) Chrome/13.0.806.0 Safari/5352                    99.99
Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 (KHTML, like Gecko) Chrome/15.0.833.0 Safari/5360                       99.97
Mozilla/5.0 (Windows 98; Win 9x 4.90; it-IT; rv:1.9.2.20) Gecko/2014-11-12 05:45:57 Firefox/5.0                       99.95
Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_8) AppleWebKit/5331 (KHTML, like Gecko) Chrome/15.0.882.0 Safari/5331    99.91
Name: Purchase Price, dtype: float64

In [130]:
len('browser_price_trends')

20

### **2.Customer Locations**

In [143]:
# Extract state or city from the address if possible (assuming addresses contain state or city information)
df['State/City'] = df['Address'].apply(lambda x: x.split(',')[-1].strip())
print("State/City:\n", df['State/City'].value_counts())

State/City:
 State/City
MN 14905                       2
WY 69967-8132                  1
CA 15381                       1
NV 42823                       1
Box 2041\nAPO AP 04262-3351    1
                              ..
WI 47836                       1
NV 77543-3455                  1
TN 53892                       1
OK 15944-7373                  1
WI 79682                       1
Name: count, Length: 9999, dtype: int64

# **Step 10: Revenue and Sales Metrics**

In [133]:
# Total revenue generated
total_revenue = df['Purchase Price'].sum()
print("Total Revenue:\n", total_revenue)

# Average revenue per customer
average_revenue_per_customer = df.groupby('Email')['Purchase Price'].sum().mean()
print("Average Revenue per Customer:\n", average_revenue_per_customer)

Total Revenue:
 503473.02
Average Revenue per Customer:
 50.579969861362265

# **Step 11: Cross-Analysis**

In [132]:
# Correlation between customer's job title and purchase price
job_purchase_correlation = df[['Job', 'Purchase Price']].groupby('Job').mean().sort_values(by='Purchase Price', ascending=False)
print("Job Purchase Correlation:\n", job_purchase_correlation)

# Purchase price variation with location
location_purchase_trends = df.groupby('Address')['Purchase Price'].mean().sort_values(ascending=False)
print("Location Purchase Trends:\n", location_purchase_trends)

# Patterns in browser usage correlating with purchase prices
browser_purchase_correlation = df.groupby('Browser Info')['Purchase Price'].mean().sort_values(ascending=False)
print("Browser Purchase Correlation:\n", browser_purchase_correlation)

Job Purchase Correlation:
                                   Purchase Price
Job
Trade mark attorney                    73.802727
Translator                             70.777647
Investment analyst                     69.090000
Accountant, chartered management       69.082667
Designer, industrial/product           68.714667
...                                          ...
Theatre stage manager                  31.580000
Editor, magazine features              31.445294
Engineer, production                   27.771667
Art gallery manager                    27.381250
Marketing executive                    26.008889

[623 rows x 1 columns]
Location Purchase Trends:
 Address
PSC 6177, Box 1004\nAPO AA 57143-1269                    99.99
63773 Shelton Greens\nAshleyton, MA 00493                99.99
058 Miranda Locks Suite 792\nPort Davidstad, PA 87162    99.97
672 James Oval\nNew Davidview, KS 91202                  99.95
27148 Kathy Cliff Apt. 400\nEast Jillton, TX 55647       99.93
                                                         ...
146 Laura Mission\nNorth Donald, NC 76608                 0.02
402 Joseph Tunnel Apt. 219\nMartinmouth, DE 58480         0.02
9202 Baker Forks\nNew Chelseaborough, VA 70852            0.01
465 Mallory Ways\nNorth Rebecca, RI 82734-1160            0.00
332 Jones Parkways\nEast Katherineville, GA 64230         0.00
Name: Purchase Price, Length: 10000, dtype: float64
Browser Purchase Correlation:
 Browser Info
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4) AppleWebKit/5332 (KHTML, like Gecko) Chrome/15.0.808.0 Safari/5332                                   99.99
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5352 (KHTML, like Gecko) Chrome/13.0.806.0 Safari/5352                                                  99.99
Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 (KHTML, like Gecko) Chrome/15.0.833.0 Safari/5360                                                     99.97
Mozilla/5.0 (Windows 98; Win 9x 4.90; it-IT; rv:1.9.2.20) Gecko/2014-11-12 05:45:57 Firefox/5.0                                                     99.95
Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_8) AppleWebKit/5331 (KHTML, like Gecko) Chrome/15.0.882.0 Safari/5331                                  99.91
                                                                                                                                                    ...
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 rv:3.0; it-IT) AppleWebKit/533.40.4 (KHTML, like Gecko) Version/5.0 Safari/533.40.4                    0.02
Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_3; rv:1.9.2.20) Gecko/2015-07-11 16:14:30 Firefox/3.8                                                 0.02
Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like Mac OS X; en-US) AppleWebKit/533.6.2 (KHTML, like Gecko) Version/4.0.5 Mobile/8B118 Safari/6533.6.2     0.01
Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gecko/2015-12-05 23:24:26 Firefox/9.0                                                                     0.00
Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9 rv:3.0; en-US) AppleWebKit/534.24.3 (KHTML, like Gecko) Version/5.0.5 Safari/534.24.3                 0.00
Name: Purchase Price, Length: 8287, dtype: float64

# **Conclusion**
This project aims to harness the power of data to unlock valuable insights into e-commerce operations. By understanding customer preferences, optimizing marketing efforts, and ensuring data integrity, businesses can make informed decisions that drive growth and foster long-term success in the competitive e-commerce landscape.